
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="header center-content">
            <h1>Node/Express App Project </h1>
           
        </div>
        <div class="header center-content menu">
            <p>
            	<a href="/">Home</a>
            	&nbsp;&nbsp;
            	<a href="/users">Menu 1</a>
            	&nbsp;&nbsp;
            	<a href="/notExist">Menu 2</a>
            </p>
        </div>
        {{{body}}}
        
    </body>
</html>
