<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel='stylesheet' href='/stylesheets/form.css' />
   
</head>
<body>
    <div class="main-content center-content">
        <form action = "/api/profile/step3" method ="post">
        <br>
        <label><b>Page:</b> </label> &nbsp;  &nbsp; &nbsp; 
        <input type="text" name="page"> <br> 

        <label><b>Per Page:</b> </label>
        <input type="text" name="perPage"> <br>
        <label><b>Depth:</b> </label> &nbsp;  &nbsp; 
        <input type="text" name="depth"> <br>
        

        <button type="submit" name="my_submit_btn">Submit</button>
    </form>
</div>
    
</body>
</html>

